<form>
  <div fxLayout="column">
    <mat-card>
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>How Much Could YOU Earn with Zero to Launch?</mat-card-title>
      </mat-card-header>

      <hr class="hr">

      <mat-card-content>
          <app-calculator></app-calculator>
          <p fxLayoutAlign="center">See how much adding a second product to your business can make you</p>
          <app-calculator></app-calculator>
          <p fxLayoutAlign="center">Advanced students only. Add even more products. Behold, the power of scale!</p>
          <app-calculator></app-calculator>
          <app-calculator></app-calculator>

          <hr>

          <p fxLayoutAlign="center"><strong>Grand Total: </strong></p>
      </mat-card-content>
    </mat-card>
  </div>
</form>

